* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 600px;
  height: 500px;

  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 230px;
  height: 130px;
  background-color: #a0522d;
}

.head:before {
  content: '';
  width: 250px;
  height: 230px;
  background-color: #111;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  left: -10px;
}

.eye-container {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #a0522d;
  border-radius: 50%;
  top: 80px;
}

.eye-container.left {
  left: 185px;
} 

.eye-container.right {
  right: 185px;
}

.eye-container::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 7px;
}

.eye-container.left::before {
  right: -5px;
}

.eye-container.right::before {
  left: -5px;
}

.eye {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #000;
  border-radius: 50%;
  border: 10px solid #ffa500;
  top: 20px;
}

.left-eye {
  left: 30px;
}

.right-eye {
  right: 30px;
}

.beak {
  position: absolute;
  width: 45px;
  height: 60px;
  background-color: #ffa500;
  top: 160px;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  border-radius: 50%;
}

.wings {
  position: absolute;
  width: 250px;
  height: 300px;
  background-color: #a0522d;
  top: 150px;
  border-radius: 50%;
  z-index: -1;
}

.wings:before,
.wings:after {
  content: '';
  position: absolute;  
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.wings:before {
  width: 200px;
  height: 310px;
  background-color: #d77141;
}

.wings:after {
  width: 150px;
  height: 230px;
  background-color: #fff;
}